/****************
layout
****************/

/* row */

.row
{
    clear: both;
    overflow: hidden;
}

/* row color */

.row--white{background-color: #fff}
.row--blue{background-color: #3bb2d0}
.row--grey{background-color: #f8f8f8}

.row--dark-grey{
    background-color: #282e37;
    color: #fff;
}


/* row padding */
.row--padding-medium
{
    padding: 2.1875em 0;
}

.row--padding-wide
{
    padding: 2.1875em 0;
}

/* container */

.container-wide,
.container-medium,
.container-narrow
{
    margin: 0 auto;
    padding: 0 1.5em;
}

.container-narrow{max-width: 34em;}
.container-medium{max-width: 52em;}
.container-wide{max-width: 58em;}

/* columns */

.col-narrow,
.col-narrow--right{margin-bottom: 1.5em}

/****************
wide
****************/

@media (min-width: 38em){
    .row--padding-medium
    {
        padding: 3.8889em 0;
    }
    
    .row--padding-wide
    {
        padding: 5.5556em 0;
    }

    .container-wide,
    .container-medium,
    .container-narrow
    {
        padding: 0 2em;
    }

    .col-narrow,
    .col-medium,
    .col-wide{float: left}

    .col-narrow--right,
    .col-wide--right{float: right}

    .col-wide,
    .col-wide--right{width: 61%}
    
    .col-medium{width: 50%}

    .col-narrow--right,
    .col-narrow
    {
        width: 25%;
        margin-bottom: 0;
    }
}